[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/maczech
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/maczech
	label-Verified = -1..+1 group user/maczech
	push = group user/maczech
	read = group user/maczech
	rebase = group user/maczech
	removeReviewer = group user/maczech
	submit = group user/maczech
[access "refs/heads/*"]
	create = group user/maczech
	push = +force group user/maczech
	pushMerge = group user/maczech
	read = group user/maczech
[access "refs/tags/*"]
	push = group user/maczech
	push = +force group user/maczech
